<nav class="navbar bg-dark">
  <h1>
    <a routerLink="/admin">JWT Viewer</a>
  </h1>
  <ul
    data-cy="profileMenu"
    *ngIf="authService.isAuthenticated(); else register"
  >
    <li>
      <a class="profile-link" [routerLink]="['/admin', 'dashboard']">
        <img src="http://robohash.org/jwt" alt="img" />
        <i
          class="fas fa-chevron-down"
          (click)="isOpen = !isOpen"
          [class.is-expanded]="isOpen"
          data-cy="arrow"
        ></i>
        <span data-cy="profileName">{{ authService.username }}</span>
      </a>
    </li>

    <li>
      <a data-cy="logoutButton" href="#" (click)="logout($event)">Logout</a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<ng-template #register>
  <ul>
    <li>
      <a data-cy="loginButton" [routerLink]="['/admin', 'login']">Login </a>
    </li>

    <li>
      <a data-cy="registerButton" [routerLink]="['/admin', 'register']"
        >Register</a
      >
    </li>
  </ul>
</ng-template>
